<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sean Suyeda</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Sean Suyeda</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Welcome to my Website</h1>
                <hr>
                <h2 class="bump">Full Stack Developer</h2>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out About Me</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                  <i class="fa fa-4x fa fa-university wow bounceIn white"></i>
                    <h2 class="section-heading">2012-2015</h2>
                    <hr class="light">
                    <p class="text-faded">Graduated from the University of California, Davis with a Bachelor of Arts degree in Communication and minor in Economics.</p>
                </div>
            </div>
            <div class="buffer">
            </div>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                  <i class="fa fa-4x fa fa-gamepad wow bounceIn white"></i>
                    <h2 class="section-heading">2014</h2>
                    <hr class="light">
                    <p class="text-faded">Worked at LVL6, a social mobile gaming startup with 2 titles on the iOS App Store, Age of Chaos and Mercenary Inc. As a Quality Assurance Analyst, I created new functional tests for the mobile games. Analyzed overall gameplay, design, mechanics, reliability, stability, and performance before patches went live. Managed special events in existing game and received player feedback.</p>
                </div>
            </div>
            <div class="buffer">
            </div>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                  <i class="fa fa-4x fa fa-graduation-cap wow bounceIn white"></i>
                    <h2 class="section-heading">2015</h2>
                    <hr class="light">
                    <p class="text-faded">Attended a full-time coding bootcamp where I learned three different stacks over the course of 3 months. PHP, MEAN, Ruby on Rails.  There I built awesome projects that gave me hands on experience as a developer. See Below!</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                  <i class="fa fa-4x fa fa-gift wow bounceIn white"></i>
                    <h2 class="section-heading">Present</h2>
                    <hr class="light">
                    <p class="text-faded">Thank you for visiting my personal website. I love developing and will always continue learning whether it is in my free time or working. Hopefully some of my projects will catch your eye. And hopefully we can work together someday and build something incredible.</p>
                </div>
            </div>
            <div class="buffer">
            </div>

        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Ruby</h3>
                        <h4>Ruby on Rails</h4>
                        <p class="text-muted">Mitri Studio, a hair stylist website that provides clients with an exceptional, experienced, and passionate professional.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Javascript</h3>
                        <h4>Mongo Express Angular Node</h4>
                        <p class="text-muted">Rush Read, an interactive app that improves reading speed and comprehension. Includes personal profiles to track reading achievements/awards and graphs to measure progress.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-file-code-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Php</h3>
                        <h4>Linux Apache MySql Php</h4>
                        <p class="text-muted">Wanna Bet, was created when ping pong gents wanted to hold wagers but had no place to keep track.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= link_to image_tag('mitrihair', :class => 'img-responsive'), "http://www.mitrihair.com" %>

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= link_to image_tag('rushread', :class => 'img-responsive'), "http://www.rushread.com" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= link_to image_tag('wannabet', :class => 'img-responsive'), "http://www.wannabet-s3.com" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">

    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>For General or Resume Inquiries</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>(408)832-1258</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>seansuyeda@gmail.com</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/jquery.easing.min.js"></script>
    <script src="assets/jquery.fittext.js"></script>
    <script src="assets/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/creative.js"></script>

</body>

</html>
